<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td><strong>科</strong></td>
            <td class="ng-binding">{{{ family }}}</td>
        </tr>
        <tr>
            <td><strong>屬</strong></td>
            <td class="ng-binding">{{ genus }}</td>
        </tr>
        <tr>
            <td><strong>種</strong></td>
            <td class="ng-binding">{{ species }}</td>
        </tr>
        <tr>
            <td><strong>品種</strong></td>
            <td class="ng-binding">{{ variety }}</td>
        </tr>
        <tr>
            <td><strong>原產地</strong></td>
            <td class="ng-binding">{{ origin }}</td>
        </tr>
        <tr>
            <td><strong>是否有入侵性</strong></td>
            <td class="ng-binding">{{ invasive }}</td>
        </tr>
        <tr>
            <td><strong>繁殖方式</strong></td>
            <td class="ng-binding">{{ propagate }}</td>
        </tr>
        <tr>
            <td><strong>日照需求</strong></td>
            <td class="ng-binding">{{ sun }}</td>
        </tr>
        <tr>
            <td><strong>植株間距 (cm)</strong></td>
            <td class="ng-binding">{{ row_spacing }}</td>
        </tr>
        <tr>
            <td><strong>市場行情 (twfood.cc)</strong></td>
            <td class="ng-binding"><a href="https://www.twfood.cc/vege/{{ AMIS }}">{{ AMIS }}</a></td>
        </tr>
        <tr>
            <td><strong>備註</strong></td>
            <td class="ng-binding">{{ comment }}</a></td>
        </tr>
    </tbody>
</table>
