<h1 class="ng-binding">
{{ binomial_name }} {{{ icons }}} 
<small><a href="http://opencrop.openhackfarm.tw/upload.html?id={{ id }}" class="label label-success" style="color: white;">新增檔案至此條目</a></small>
</h1>
