<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ name }}
        </div>
        <div class="panel-body">
            <a href="detail.html?id={{ id }}" class="thumbnail">
                <img alt="{{ id }}" src="{{ thumbnail }}">
            </a>
        </div>
    </div>
</div>
