<dl>
    <dt>HP <small class="ng-binding">(61)</small></dt>
    <dd>
    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 61%"></div>
    </div>
    </dd>
</dl>
<dl>
    <dt>Attack <small class="ng-binding">(72)</small></dt>
    <dd>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 72%"></div>
    </div>
    </dd>
</dl>
<dl>
    <dt>Defense <small class="ng-binding">(57)</small></dt>
    <dd>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 57%"></div>
    </div>
    </dd>
</dl>
<dl>
    <dt>Sp Atk <small class="ng-binding">(55)</small></dt>
    <dd>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" style="width: 55%"></div>
    </div>
    </dd>
</dl>
<dl>
    <dt>Sp Def <small class="ng-binding">(55)</small></dt>
    <dd>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" style="width: 55%"></div>
    </div>
    </dd>
</dl>
<dl>
    <dt>Speed <small class="ng-binding">(65)</small></dt>
    <dd>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info" style="width: 65%"></div>
    </div>
    </dd>
</dl>
