<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ alt }}
        </div>
        <div class="panel-body">
            <a href="{{ image_url }}" class="thumbnail" target="_blank">
                <img alt="{{ alt }}" src="{{ thumbnail }}">
            </a>
        </div>
        <div class="panel-footer ng-binding">
            <a href="#" onclick="OpenCrop.set_cover('{{ id }}', '{{ image_url }}')">設爲封面</a> |
            <a href="bind.html?id={{ media_id }}&name={{ alt }}">移動條目</a>
        </div>
    </div>
</div>
